/* .content-wrapper {
    height: 98%;
    width: 98%;
    margin-left: 1%;
    margin-top: 1%;
}
.content-wrapper .page-title {
    border: 1px solid #fff;
    display: inline-block;
    padding: 1%;
    letter-spacing: 10px;
    text-transform: uppercase;
} */